* {
    font-size: 16px;
}

body {
    max-width: 1200px;
    overflow-x: hidden;
    box-sizing: border-box;
    top: 0;
    margin: 0 auto;
    background-color: rgb(255, 235, 0);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #444;
    width: 100%;
    height: 80px;
}

.date {
    width: 240px;
    margin: 0 0 0 80px;
    border-radius: 10px;
}

.date h1 {
    text-align: center;
}

.designed-by {
    width: 240px;
    margin: 0 8px 0 0;
}

.designed-by h1 {
    width: 100%;
    text-align: justify;
    margin: 0;
    color: #eee;
    font-size: 2rem;
}
.designed-by h2 {
    width: 100%;
    text-align: justify;
    margin: 0;
    color: #eee;
    font-size: 1.2rem;
}

.clock-container {
    display: flex;
    width: 100%;
    height: 465px;
}

.side-bar {
    background-color: #444;
    width: 80px;
    height: 100%;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: #000;
}

.screen h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #08fe03;
}

.clock h1 {
    font-size: 6rem;
    font-weight: bold;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #444;
}

.footer button {
    background-color: #600;
    border: 1px solid #800;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-right: 80px;
}